<% @messages.each do |message| %> 
<div class="message"> 
	<p class="name"><%= message.name %></p>
  <p class="content"><%= message.text %></p> 
  <p class="time"><%= message.created_at %></p> 
</div> 
<% end %>